<%= form_for([@article, @article.comments.build]) do |f| %>
    <div class="form-group">
      <%= f.label(:commenter, "Név") %>
      <%= f.text_field :commenter, class: 'form-control', rows: 3 %>
      <%= f.label :body, "Hozzászólás" %>
      <%= f.text_area :body, class: 'form-control', rows: 5 %>
    </div>
    <%= f.submit "Hozzászólás beküldése", class: 'btn btn-default' %>
<% end %>
