<%= form_for @article do |f| %>

        <% if @article.errors.any? %>
            <div id="error_explanation">
              <h2>
                <%= @article.errors.count %> hiba miatt nem hozható létre a bejegyzés:
              </h2>
              <ul>
                <% @article.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

    <div class="form-group">

        <%= f.label :title, "Cím" %>
        <%= f.text_field :title, class: 'form-control' %>
        <%= f.label :text, "Tartalom" %>
        <%= f.text_area :text, class: 'form-control', rows: 8 %>

    </div>
        <%= f.submit "Uccu!", class: 'btn btn-default' %>

<% end %>
