<h1><%= @article.title %></h1>
<h5><span class="glyphicon glyphicon-time"></span> tothl, <%= @article.created_at %></h5>
<h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
<p> <%= @article.text %> </p>
<hr>

<h4>Szólj hozzá!</h4>
<%= render 'comments/form' %>

<p><span class="badge"><%= @article.comments.count %></span> Hozzászólás:</p><br>
<% if @article.comments.count > 0 %>
<%= render @article.comments %>
<% end %>
<%= link_to 'Vissza', articles_path %>
