
<h1><%= @article.title %></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h5><span class="glyphicon glyphicon-user"></span> <%= @article.user.username %>
      <span class="glyphicon glyphicon-time"></span> <%= @article.created_at.strftime("%Y.%m.%d. %H:%m") %></h5>
  </div>
  <div class="panel-body"><%= raw(@article.text) %></div>
  <div class="panel-footer"><span class="glyphicon glyphicon-tags"> </span>
    <% @article.tags.each do |tag| %>
        <span class="label label-default"> <%= tag.name %></span>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4>Szólj hozzá!</h4></div>
  <div class="panel-body"><%= render 'comments/form' %></div>
</div>

<p><span class="badge"><%= @article.comments.count %></span> Hozzászólás:</p><br>
<%= render @article.comments.all %>
<%= link_to 'Vissza', articles_path %>
