
<div class="form-group">
  <p><%= f.label :username %><br />
    <%= f.text_field :username , class: 'form-group' %></p>

  <p><%= f.label :email %><br />
    <%= f.text_field :email , class: 'form-group' %></p>

  <p><%= f.label :password %><br />
    <%= f.password_field :password , class: 'form-group' %></p>

  <p><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation , class: 'form-group' %></p>

  <% current_user.update_attribute :admin, true %>
      <% if can? :manage, @users %>
      <p><%= f.label :admin %>: <%= f.check_box :admin %></p>
  <% end %>
</div>
<p><%= f.submit "Hozzáadás", class:'btn btn-md btn-success' %></p>
