<!DOCTYPE html>
<html>
<head>
  <title><%= Setting.find_by_key('title').value %></title>
  <%= csrf_meta_tags %>

  <!--Bootstrap-->
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!--Ez húzza be a select2 js-ét elvileg-->
  <%= yield :js %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Húzzuk be a jQuery-t -->

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" %>

  <!-- Húzzuk be a Bootstrap JavaScript-jét -->
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>

  <!--IE9-nél régebbi böngészőhöz optimalizálás-->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>

<body>

<!-- Navigáció. Csak ez van a header-ben! -->
<%= render 'layouts/header' %>

  <!-- A fejléc -->
  <%= render 'layouts/jumboheader' %>

  <!--Tároló-->
  <div class="container-fluid">

    <!-- Hibaüzenetek flesselése -->
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <%= value %>
        </div>
    <% end %>

    <!-- Tartalom -->
    <%= yield %>
  </div>

<!-- Lábléc -->
<%= render 'layouts/footer' %>
</body>
</html>